<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jie.mapper.TaskWordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jie.pojo.TaskWord">
        <id column="id" property="id" />
        <result column="word_id" property="wordId" />
        <result column="task_id" property="taskId" />
    </resultMap>



</mapper>
